<h2>Lista empleados</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}} </td>
            <td>{{empleado.telefono}}</td>
            <td>
                <button  (click) = "actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>  
                <button  (click)="eliminarEmpleado(empleado.id)"   class="btn btn-danger" style="margin-left : 10px">Eliminar</button>-
                <button  class="btn btn-primary">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>